<h2>New Blog</h2>
<form [formGroup]="blogForm" (ngSubmit)="add(blogForm.value)">
    <label for="new-blog">Title: </label>
    <input type="text" id="new-blog" formControlName="title">
    <label for="new-blog">User ID</label><br>
    <input type="number" id="new-blog" formControlName="userId">
    <button class="add-button" type="submit" (click)="getBlogs(blogForm.value)">Create a blog</button>
</form>

<ul class="blogs">
    <li *ngFor="let blog of blogs">
        <a routerLink="/blogs/{{blog.id}}">
            <span class="badge">{{blog.userId}} </span> {{blog.title}} 
        </a>
        <button class="delete" title="delete blog"
        (click)="delete(blog)">X</button>
    </li>
</ul>



