<h2>Comments</h2>
<form [formGroup]="commentForm" (ngSubmit)="addComment(commentForm.value)">
    <label for="new-comment"></label>
    <input type="text" id="new-comment" formControlName="content"><br><br>
    <input type="text" formControlName="postId" hidden>
    <button class="add-button" type="submit">Add a comment</button>
</form>

<h3>Comments</h3>
<div *ngIf="post" [comment]='comment'>
    <ul class="comments">
        <li *ngFor="let comment of post.comments">
            <app-edit-input [data]='comment.content' (focusOut)='editComment(comment, $event)'></app-edit-input>
            <button class="save" title="update-comment"(click)="update(comment)">Update</button>
            <button class="delete" title="delete-comment" (click)="deleteComment(comment)">x</button>
        </li>
    </ul>
</div>