input {
    width: 90%;
    margin-top: .5rem;
}
textarea {
    width: 90%;
    margin-top: .5rem;
}

ul { 
    padding: 0;
    li {
        list-style-type: none;
        width: 90%;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        display: inline-flex;
        margin: 5px;
        a {
            text-decoration: none; 
            color: black;  
            &:hover {
                color: gray;
            }
        }
    }
}


.badge {
    font-weight: blod;
    font-size: 1.5rem;
}