input {
    width: 100%;
    margin-top: .5rem;
}
textarea {
    width: 100%;
    margin-top: .5rem;
}

ul { 
    padding: 0;
    li {
        position: relative;
        list-style-type: none;
        width: 90%;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        display: inline-flex;
        margin: 5px;
        a {
            text-decoration: none; 
            color: black;  
            &:hover {
                color: gray;
            }
        }
        .delete {
            position: absolute;
            right: 5px;
            top: 5px;
            margin: 0;
            padding: 5px 8px;
        }
        
    }
}

#title {
    font-size: 20px;
}

#content {
    font-size: 18px;
}

