<h2>New Post</h2>
<form [formGroup]="postForm" (ngSubmit)="addPost(postForm.value)">
  <label for="new-post">Title: </label>
  <input type="text" id="new-post" formControlName="title">
  <div *ngIf="title.invalid && (title.dirty || title.touched)">
    <div *ngIf="title.errors?.required" class="errors">
      Title is required
    </div>
    <div *ngIf="title.errors?.minlength" class="errors">
      Title must contain at least tree letters
    </div>
  </div>
  <label for="new-post">Content: </label>
  <textarea name="" id="" cols="100" rows="10" formControlName="content"></textarea>
  <div *ngIf="content.invalid && (content.dirty || content.touched)">
    <div *ngIf="content.errors?.required" class="errors">
      Content is required
    </div>
    <div *ngIf="content.errors?.minlength" class="errors">
      Content must contain at least tree letters
    </div>
  </div>
  <input type="text" formControlName="blogId" hidden>
  <button class="add-button" type="submit" [disabled]="postForm.invalid">Post</button>
</form>

<div *ngIf="blog"> 
  <ul class="posts">
    <li *ngFor="let post of blog.posts">
      <a routerLink="/posts/{{post.id}}">
        <p id="title">{{post.title}} </p> 
        <p id="content">{{post.content}}</p>
      </a>
      <button class="delete" title="delete post"(click)="deletePost(post)">X</button>
    </li>
  </ul>
</div>